<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nelsonaraujo.academicorganizer">

    <application
        android:name=".Models.AppSetup"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AcademicOrganizer"
        tools:targetApi="31">
        <service
            android:name=".Models.AppService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".Controllers.AssessmentsCtrl"
            android:exported="false" />
        <activity
            android:name=".Controllers.AssessmentCtrl"
            android:exported="false" />
        <activity
            android:name=".Controllers.AssessmentAddEditCtrl"
            android:exported="false" />
        <activity
            android:name=".Controllers.CoursesCtrl"
            android:exported="false" />
        <activity
            android:name=".Controllers.CourseAddEditCtrl"
            android:exported="false" />
        <activity
            android:name=".Controllers.CourseCtrl"
            android:exported="false" />
        <activity
            android:name=".Controllers.TermCtrl"
            android:exported="false" />
        <activity
            android:name=".Controllers.TermAddEditCtrl"
            android:exported="false" /> <!-- <activity -->
        <activity
            android:name=".Controllers.TermsCtrl"
            android:exported="false"
            android:label="@string/title_activity_terms" />
        <activity
            android:name=".AcademicOrganizer"
            android:theme="@style/Theme.AcademicOrganizer.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Models.AppProvider"
            android:authorities="com.nelsonaraujo.academicorganizer.provider"
            android:exported="false" />

        <receiver android:name=".Models.AppNotification" />
    </application>

</manifest>